#section1{
    
    background-image: url('photo4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    height:900px;
    margin: 0;
    margin-top:-20px;
    font-family: myfont;
    float:left;
clear:none;

}


#section2{

background-image: url('TJfwfdfDN.jpg');
     background-size: background-size: cover;
    height:900px;
    margin: 0;
    background-repeat: no-repeat;
    font-family: divfont;
    color: yellow;
float:left;
clear:none;



}


#section3{

background-image: url('TJfwDN.jpg');
     background-size: background-size: cover;
    height:900px;
    margin: 0;
    background-repeat: no-repeat;
   font-family: divfont;

float:left;
clear:none;
}


body {    
    margin: 0 ;
    padding: 0 ;
  background-image: linear-gradient(#314b75, #98afd4);

}

.face2 {


    margin-top: 200px;
}

nav {

    position: fixed;


}



nav {
text-align: left;
margin: 20px 0 0 ;
padding: 10px 0;
margin-left: 50px;

}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

nav li {
   display: inline-block;
   padding: 5px 5px;
}

nav a {
  font-weight: bold;
  padding: 10px 10px;
  font-size: 0.8em;
}


a {
   text-decoration: none; color:white;

}

a:visited { 

    text-decoration: none; color:white; 

}

@font-face {
    font-family: myfont;
    src: url(Montserrat-SemiBold.ttf);
}


@font-face {

   font-family: divfont;
   src: url(PlayfairDisplay-Regular.ttf);


}


.cardz {


margin-top: 300px;
margin-left: 50px;


}


a {

outline:none

}


/* java script thingy */






a {
    
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a{
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: yellow;  /* underline color */
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}



.applybutton:before{

background-color: transparent;


}

.logo:before {

background-color: transparent;

}

.secondary:before {

    
    background-color: transparent;
 
}


.twitter:before {

  background-color: transparent;  
}

.instagram:before{

    background-color: transparent;

}

.cardz:before{

    background-color: transparent;

}





.secondary {


    float:right;
    margin-top:20px;
}

.twitter {

    float:right;
       
    margin-top: 20px ; 
    
}



.instagram {

    float:right;
    
    margin-top:20px;

}

.logo {

float:left;
    
    margin-top:25px;
position: fixed;
}




html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

div {
    height: 100%;
    width: 100%;

}





h2 {

    color: white;
    
   font-size: 60px;
   
   padding-top: 230px; 

}



.applybutton {

   
    background-color: transparent;
     border-width: thin;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 16px;
    
    cursor: pointer;
    
    margin: 4px 2px;
    margin-top: 25px;
    font-family: myfont;
     -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.applybutton:hover {

background: white;
color: brown;

}





